# this file lists what files/dirs should be excluded from the repository
bin/** /*
# ...
tmp/** /*
# ...
build/Debug/** /*
# ...
build/tmp/** /*
# ...
build/ipch/** /*
# ...
build/_UpgradeReport_Files/** /*
# ...
*.suo
# ...
*.sdf
# ...
*.user
# ...
*.XML
